name: Build Examples

# Triggers the workflow on push or pull request events
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_examples:
    name: Build all examples with PlatformIO and the Arduino CLI
    if: ${{ ! contains(github.event.head_commit.message, 'ci skip') }}
    uses: EnviroDIY/workflows/.github/workflows/build_examples.yaml@main
    with:
      boards_to_build: mayfly,envirodiy_stonefly_m4,megaatmega2560,zeroUSB,mkrvidor4000,uno_wifi_rev2,nano_every,arduino_nano_esp32,uno_r4_wifi,nano33ble,portenta_h7_m7,adafruit_feather_m0,adafruit_feather_m4,adafruit_grandcentral_m4,huzzah,featheresp32,adafruit_feather_f405,nodemcu,nodemcuv2,esp32dev,esp32-s3-devkitm-1
      examples_to_build: all
    secrets: inherit
